{% for c in post.comment_set.all %}
        <div class="add-comment col-12 pt-0">
          <div class="row">
            <div class="col-1" style="padding-right: 11%; padding-top: 1%;">
              <div class="pt-2 pl-2 d-inline-block">
                <div
                  class="Profile-Picture-Comment"
                  style="background: url('{{ c.user.image.url }}'); "
                ></div>
              </div>
            </div>
            <div>
              <div class="row pr-2 pt-2 pb-2 pl-0" style="width:400%;">
                <div class="col pl-0">
                  
                  <p class="pt-1 pl-2 pb-0 fs-14">{{c.body}}</p>
                  <p class="p-0 pl-2 fs-10">
                    <span class="fs-10" style="margin-right: 0.2%;">{{ c.created }}</span>
                    <span  >
                      <a
                        href="{% url 'profile-detail-view' c.user.slug %}"
                        class="fs-11"
                        >{{ c.user.user }}</a
                      ></span
                    >
                    <br>
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="add-comment col-12 pb-2">
          <div class="row">
            <div class="col-1" style="padding-right: 11%">
              <div class="pt-2 pl-2 d-inline-block">
                <div
                  class="Profile-Picture-Comment"
                  style="background: url('{{ user.profile.image.url }}'); "
                ></div>
              </div>
            </div>
            <div class="bruh-box col-10 pl-0">
              <div class="row pr-2 pt-2 pb-2 pl-0">
                <div class="col pl-0">
                  {% include 'blog/Comment_form.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>