{% extends "blog/base.html" %} {% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Web - Project</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="{% static 'blog/favicon.ico' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="{% static 'blog/js/vendor/jquery-3.7.0.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="stylesheet"
      href="{% static 'blog/css/vendor/bootstrap.min.css' %} "
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/css/vendor/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'blog/css/vendor/animate.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'blog/css/vendor/hamburgers.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'blog/css/util.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}" />
  </head>
  <body>
    {% block content %}

    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-3 mobile-hidden">
          <div class="main-block">
            <div
              class="coverPicture"
              style="background: url('{{ user.profile.bgimage.url }}');"
            ></div>
            <div
              class="profilePicture"
              style="background: url('{{ user.profile.image.url }}');"
            ></div>
            <div class="FullName text-center fs-18 ProjectColor">
              {{ user }}
            </div>
            <div class="row statistic text-center fs-16 p-3">
              <div class="col">
                <p>Friends</p>
                <br />
                <p>{{ profile.get_friends_no }}</p>
              </div>
              <div class="col border-left">
                <p>Posts</p>
                <br />
                <p>{{ pos }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mobile-hidden">
          {% if post_added %}
          <div class="ui green message">Post added</div>
          {% endif %}
          <div
            style="
              background-color: white;
              padding-bottom: 7%;
              margin-bottom: 3%;
            "
          >
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %} {{p_form.as_p}}

              <hr />
              <div class="action p-2 pr-3">
                <button
                  name="submit_p_form"
                  type="submit"
                  class="float-r p-2 fs-16 post"
                >
                  save
                </button>
              </div>
            </form>
          </div>

          {% include 'blog/post-list.html' %}
        </div>

        <div class="col-3 mobile-hidden">
          <div class="main-block">
            <div class="row">
              <div class="col pl-4">
                <p class="fs-14 font-cairo font-weight-600">
                  People you may know
                </p>
              </div>
            </div>
            <hr class="m-1" />
            {% for friend in nofriend %} 
            {% if friend.user.username != user.username %}
            <div class="row">
              <div class="col-3">
                <div class="pt-2 pl-2 d-inline-block">
                  <div
                    class="Profile-Picture"
                    style="background: url('{{ friend.image.url }}');width: 40px;height: 40px;    border: 1.5px solid #8B54C7; "
                  ></div>
                </div>
              </div>

              <div class="col">
                <div class="UserName d-inline-block mt-3">
                  <p>
                    <a
                      href="{% url 'profile-detail-view' friend.slug %}"
                      class="font-weight-bold"
                      >{{ friend.user }}</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <hr class="m-1" />
            {% endif %} 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}

    <script src=" {% static 'blog/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'blog/js/vendor/jquery-3.7.0.js' %}"></script>
    <script src="{% static 'blog/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/vendor/tilt.jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <script src="{% static 'blog/js/main.js' %}"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("send", "pageview");
    </script>

    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
  </body>
</html>
