<form hx-post="{% url 'blog-home' %}" id="post-form" action="" enctype="multipart/form-data" hx-target="#all_posts"   style="height:110px" >
              {% csrf_token %} 
              
              {{p_form.content}}
              {{ p_form.post_image }}
              <label
                  

                ><i class="fa fa-2x fa-picture-o" aria-hidden="true" style=" margin-left:100%; margin-top:-10%"></i>
            </label>
              

                 
              <div class="action p-2 pr-3">
                <button
                  name="submit_p_form"
                  type="submit"
                  class="float-r p-2 fs-16 post"
                  style="position: absolute; margin-left: 70%; margin-top: -7%; width:23%;"



                >
                  upload post
                </button>
              </div>
            </form>