<!DOCTYPE html>
<div id="com">
{% extends "blog/base.html" %} {% load static %} {% load crispy_forms_tags %} {% load widget_tweaks %}
{% block content %}
<div class="container mt-5" style="width: 75%" id="all">
  <div class="row">
    <div class="col">
      
      <div class="main-block">
        <h1
          style="
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin: 0px;
            color: #211b19;
            text-transform: uppercase;
            padding: 1%;
            left: 50%;
            top: 50%;
          "
        >
          Change your profile image and background image
        </h1>
        <form
        
          action=""
          method="POST"
          enctype="multipart/form-data"
          style="padding: 2%"
        >
          {% csrf_token %} 
           <div style="width: 100%;    display: flex;
    flex-direction: row;
    justify-content: space-between;" >
            <p class="lFullName text-center fs-18 ProjectColor">
              Current profile picture
            </p>
            <p style="margin-right: 12%;" class="lFullName text-center fs-18 ProjectColor">
              choose new photo
            </p>
            <p class="lFullName text-center fs-18 ProjectColor">
              new profile picture
            </p>
          </div>
          <div style="display: flex;
    align-items: center;">
    
            <div
              class="profilePicture"
              style="background: url('{{ user.profile.image.url }}');height: 100px;
    width: 100px; margin: 0px;display: -webkit-inline-box; margin-left: 5%;"
            ></div>
            <i class="fa fa-2x fa-picture-o" aria-hidden="true" style=" margin-left:38%; margin-top:-5%; position: absolute;"></i>
          <i class="fa-5x fa fa-long-arrow-right" aria-hidden="true" style="display: inherit; margin-left: 25%;transform: scale(3,1.5);"></i>

          {{form.image}}
          <img id="blah" src="#"  class="profilePicture" style="height: 100px;
    width: 100px;     margin-left: 33%;
    margin-top: 1%;display: -webkit-inline-box;"/>
          </div>
          <br>
          <div style="width: 100%;    display: flex;
    flex-direction: row;
    justify-content: space-between;" >
            <p class="lFullName text-center fs-18 ProjectColor" >
              Current background picture
            </p>
            <p style="margin-right: 12%;" class="lFullName text-center fs-18 ProjectColor">
              choose new picture
            </p>
            <p class="lFullName text-center fs-18 ProjectColor">
              new background picture
            </p>
          </div>
          <div style="display: flex;
    align-items: center;">
    
            <div
              class="profilePicture"
              style="background: url('{{ user.profile.bgimage.url }}');height: 100px;
    width: 100px; margin: 0px;display: -webkit-inline-box; margin-left: 5%;"
            ></div>
            <i class="fa fa-2x fa-picture-o" aria-hidden="true" style=" margin-left:38%; margin-top:-5%; position: absolute;"></i>
          <i class="fa-5x fa fa-long-arrow-right" aria-hidden="true" style="display: inherit; margin-left: 25%;transform: scale(3,1.5);"></i>

          {{form.bgimage}}
          <img id="blah2" src="#"  class="profilePicture" style="height: 100px;
    width: 100px;     margin-left: 33%;
    margin-top: 1%;display: -webkit-inline-box;"/>
          </div>
          <div style="text-align: -webkit-right; padding-top: 1%;">
            
            <input type="reset" name="" id="oop" onclick="myFunction()" class="p-2 fs-16 post" >
            <button type="submit" class="p-2 fs-16 post">save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<div id="allposts2">
  {% include 'blog/user-post-list.html' %} 
</div>
  {% endblock content %}
</div>
</div>