{% extends 'blog/base.html' %}


{% block content %}
<div class="ui grid" style="padding-left: 5%;">
    <br>
    <div class="row">
        <div class="four wide column" style="margin-bottom: 1%;">
            <img class="ui medium rounded image" src="{{object.image.url}}">
             <span class="login100-form-title animated" style="display: inline;   padding-left: 30%;  line-height: 2;">
						{{object.user}}
					</span>
                    
            <div class="ui vertical fluid menu">
                <div class="item">
                    Posts
                    <div class="ui label">{{ object.get_posts_no }}</div>
                </div>
                <div class="item">
                    Likes given
                    <div class="ui label">{{ object.get_likes_given_no }}</div>
                </div>
                <div class="item">
                    Likes received
                    <div class="ui label">{{ object.get_likes_recieved_no }}</div>
                </div>
                <div class="item">
                    Friends
                    <div class="ui label">{{ object.get_friends_no }}</div>
                </div>
            </div>
            {% if object.user == request.user %}
            {% else %}
            {% if object.user not in rel_receiver and object.user not in rel_sender %}
                <form action="{% url 'send-invite' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{object.pk}}">
                    <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i>Add to friends</button>
                </form>
            {% endif %}

            {% if object.user in rel_receiver and request.user not in object.friends.all %}
                <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Waiting for approval</button>
            {% endif %}

            {% if request.user in object.friends.all %}
                <form action="{% url 'remove-friend' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{object.pk}}">
                    <button type="submit" class="ui negative basic button mb-5 w-big"><i class="minus square icon"></i>Remove from friends</button>
                </form>
            {% endif %}
            {% endif %}

        </div>
        <div class="twelve wide column">
            {% if len_posts %}
                {% include 'users/post-list2.html' %}
                
            {% else %}
<div id="notfound" style="position: relative; height: 100vh">
  <div
    class="notfound"
    style="
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    "
  >
    <div
      class="notfound-404"
      style="
        position: relative;
        height: 200px;
        margin: 0px auto 20px;
        z-index: -1;
      "
    >
      <h1
        style="
          font-family: 'Montserrat', sans-serif;
          font-size: 236px;
          font-weight: 200;
          margin: 0px;
          color: #211b19;
          text-transform: uppercase;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        "
      >
        Oops!
      </h1>
      <h2
        style="
          font-family: 'Montserrat', sans-serif;
          font-size: 28px;
          font-weight: 400;
          text-transform: uppercase;
          color: #211b19;
          background: #fff;
          padding: 10px 5px;
          margin: auto;
          display: inline-block;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          width: 214%;
    margin-left: -61%;
        "
      >
       This user hasn't posted yet!
      </h2>
    </div>
    <div class="container-login100-form-btn">
        <a href="{% url 'blog-home' %}">
                            <button class="login100-form-btn">
                                Back to HomePage
                            </button></a>
                        </div>
   
    
  </div>
</div>


            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}